<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>code in python</h2>
        </header>
        <p>A blog about using python to solve
        <br />
        today's most challenging problems
        <br />
        <a href="https://www.linkedin.com/in/kurtwall1"><img src="/images/headshot.jpg" class="image circle"></a>
        <br />
        by <a href="https://github.com/kurtw">Kurt Wall</a></p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Show Me More</a></li>
            </ul>
        </footer>

    </div>

</section>